---
layout: default
title: 카테고리
---

<section class="container">
  <h1 class="title">Categories</h1>
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <article class="content">
      {% assign category_name = category | first %}
      {% assign category_posts = category | last %}
      <h2 id="{{ category_name }}" class="box__title">#{{ category_name }}</h2>
      <ul class="list">
        {% for post in category_posts %}
          <li class="vertical-item">
            <a class="link link--animated" href="{{ post.url }}">{{ post.title }}</a> <span class="smaller"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></span>
          </li>
        {% endfor %}
      </ul>
    </article>
  {% endfor %}
</section>
