<div id="disqus_thread" style="margin-top: 2rem;"></div>
<script>
  var disqus_config=function(){this.page.url="{{ page.url | absolute_url }}",this.page.identifier="{{ page.id }}"};!function(){var e=document,t=e.createElement("script");t.src="https://int-i-blog.disqus.com/embed.js",t.setAttribute("data-timestamp",+new Date),(e.head||e.body).appendChild(t)}();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
