<footer class="footer">
  <div class="container container--dense">
    <div>
      <a class="title footer__title" href="{{ site.url }}">{{ site.title }}</a>
    </div>
    <div class="content footer__content">
      <ul class="list">
        <li class="horizontal-item horizontal-item--dense footer__horizontal-item">
          {{ site.description }}
        </li>
        {% if site.author.tel %}
        <li class="horizontal-item horizontal-item--dense footer__horizontal-item">
          Tel: <a class="link footer__link" href="tel:{{ site.author.tel }}">{{ site.author.tel }}</a>
        </li>
        {% endif %}
        {% if site.author.email %}
        <li class="horizontal-item horizontal-item--dense footer__horizontal-item">
          Email: <a class="link footer__link" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        </li>
        {% endif %}
      </ul>
      Copyright © {{ site.author.name }}, All rights reserved.
    </div>
  </div>
</footer>
