<footer class="footer">
  <div class="container container--dense">
    <div>
      <a class="title footer__title" href="{{ site.url }}">{{ site.title }}</a>
    </div>
    <div class="content footer__content">
      <ul class="list">
        <li class="horizontal-item horizontal-item--dense footer__horizontal-item">
          {{ site.description }}
        </li>
      </ul>
      <ul class="list">
        {% if site.location %}
        <li class="horizontal-item horizontal-item--dense footer__horizontal-item">
          <a class="link footer__link" href="https://place.map.kakao.com/17557585">{{ site.location }}</a>
        </li>
        {% endif %}
        {% if site.email %}
        <li class="horizontal-item horizontal-item--dense footer__horizontal-item">
          Email: <a class="link footer__link" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
        {% endif %}
        {% if site.manager %}
        <li class="horizontal-item horizontal-item--dense footer__horizontal-item">
          <a class="link footer__link" href="{{ '/authors/' | relative_url }}#{{ site.manager }}">{{ site.data.authors[site.manager].admission_year | slice: 2, 3 }}{{ site.data.authors[site.manager].name }}</a> (<a class="link footer__link" href="mailto:{{ site.data.authors[site.manager].email }}">{{ site.data.authors[site.manager].email }}</a>)
        </li>
        {% endif %}
      </ul>
      Copyright © {{ site.title }}, All rights reserved.
    </div>
  </div>
</footer>
