<nav class="nav">
  <ul class="list">
    <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/" | relative_url }}">POST</a>
    </li>
    <!-- <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/authors" | relative_url }}">AUTHOR</a>
    </li> -->
    <!-- <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/services" | relative_url }}">SERVICE</a>
    </li> -->
    <!-- <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/about" | relative_url }}">ABOUT</a>
    </li> -->
  </ul>
</nav>
