{% capture _content %}
<nav class="nav">
  <ul class="horizontal-list">
    <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/" | relative_url }}">POST</a>
    </li>
    <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/members" | relative_url }}">MEMBER</a>
    </li>
    <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/services" | relative_url }}">SERVICE</a>
    </li>
    <li class="horizontal-item nav__horizontal-item">
      <a class="link nav__link" href="{{ "/about" | relative_url }}">ABOUT</a>
    </li>
  </ul>
</nav>
{% endcapture %}
{{ _content | strip_newlines | remove: "  " }}
