.post__header {
  padding-bottom: 1rem;
  border-bottom: 1px rgba($on-surface-color, 0.12) solid;
}

.post__content {
  padding-top: 1rem;
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
}

.content {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: normal;
  color: rgba($on-surface-color, 0.6);
}

.link {
  color: $primary-color;
  text-decoration: none;
  white-space: nowrap;
}

.no-text-decoration {
  text-decoration: none;
}
