@import 'variables';

html {
  font-size: 16px;

  @media (max-width: 1023px) {
    font-size: 14px;
  }
}

body {
  background-color: $background-color;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Position */
.center {
  margin: 0 auto;
}

// .icon {
//   width: 24px;
//   height: 24px;
// }

@import 'global';
@import 'components';
@import 'render';
