$primary-color: #bbdefb;
$secondary-color: #e3f2fd;
$background-color: #121212;
$surface-color: #121212;
$error-color: #cf6697;
$on-primary-color: #000;
$on-secondary-color: #000;
$on-background-color: #fff;
$on-surface-color: #fff;
$on-error-color: #000;
