.card {
  background-color: rgba($on-background-color, 0.05);
  padding: 1rem 2rem;
  margin: 1rem 0;
}

.card__title {
  font-size: 1.5rem;
}

.card__title--small {
  font-size: 1.2rem;
}

.card__image {
  display: block;
  width: 100%;
  max-height: 40vh;
  margin: 0 auto;
  object-fit: cover;
}

.card__content {
  word-break: break-all;
}

.card__metadata {
  color: rgba($on-surface-color, 0.38);
}

.card__metalink {
  color: rgba($on-surface-color, 0.38);
  transition: color 0.5s;
}

.card__metalink:hover {
  color: rgba($on-surface-color, 0.6);
}
