.footer {
  border-top: 1px rgba($on-surface-color, 0.12) solid;
}

.footer__title {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.footer__content {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.footer__link {
  color: rgba($on-surface-color, 0.6);
  transition: color 0.5s;
}

.footer__link:hover {
  color: rgba($on-surface-color, 0.87);
}
