.grid {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 0 1rem;
}

.grid--double-stage {
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}

.grid--weighted-double-stage {
  grid-template-columns: 3fr 1fr;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}
