.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.horizontal-list {
  white-space: nowrap;
}

.horizontal-item {
  display: inline-block;
}

.horizontal-item::before {
  margin: 0 0.5rem;
}

.horizontal-item + .horizontal-item::before {
  content: '|';
}

.horizontal-item--dense::before {
  margin: 0 0.25rem;
}

.vertical-item {
  margin: 0.5rem 0;
}
