::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #bcbdc0;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}
