.hashtags {
  padding: 0;
  margin: 1rem 0;
  font-size: 1rem;
  list-style-type: none;
}

.hashtag {
  display: inline;
  font-weight: normal;
  color: $primary-color;
  word-break: keep-all;
}

.hashtag::before {
  content: '#';
}

.comments {
  float: right;
}
