---
layout: default
---

<section class="container">
  <article>
    <header class="post__header">
      {% if page.thumbnail %}
      <img class="post__image" alt="Post thumbnail" src="{{ page.thumbnail | relative_url }}">
      {% endif %}
      <h1 class="title">{{ page.title | escape }}</h1>
      <div class="content">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> · by {{ site.data.authors[page.author].name }}
      </div>
    </header>

    <section class="post__content">
      <div class="content render">
        {{ content }}
      </div>
      <ul class="hashtags">
        {% for tag in page.tags %}
          <li class="hashtag"><a class="link" href="{{ "/tags" | relative_url }}#{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </section>

    <section class="post__relative">
      {% if page.next %}
      <article>
        <a class="no-text-decoration" href="{{ page.next.url | relative_url }}">
          <div class="box__nav">← 다음 글</div>
          <div class="box__title">{{ page.next.title | escape }}</div>
        </a>
      </article>
      {% else %}
      <div></div>
      {% endif %}

      {% if page.previous %}
      <article class="text-align-right">
        <a class="no-text-decoration" href="{{ page.previous.url | relative_url }}">
          <div class="box__nav">이전 글 →</div>
          <div class="box__title">{{ page.previous.title | escape }}</div>
        </a>
      </article>
      {% endif %}
    </section>
  </article>

  {% include disqus.html %}
  {% include mathjax.html %}

  <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-5487967079203120" data-ad-slot="4040226289"></ins>
</section>
